<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Lista de Películas' }) %>


<body class="body_moviesAdd">
    <nav class="nav_codingnepal">
      <a href="/"><img class="img_codingnepal" src="/img/logo-DH-blanco.png" alt="Logo Digital House"></a>
    </nav>
  
    <%- include('partials/slideBarMenu') %>
    <h1>LISTADO DE PELÍCULAS</h1>
    <ul class="list-group">
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a class="list-group-item list-group-item-action"href="/movies/detail/<%= movies[i].id %>"><b class="fs-6 animate__animated animate__fadeInLeft"><%= movies[i].title %></b></a>
        </li>
        <% } %>

    </ul>
    <%- include('partials/scripts') %>
    
</body>

</html>