<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Agregar Película' }) %>

<!-- ----------------------------------- -->

<body class="body_moviesAdd">
  <nav class="nav_codingnepal">
    <a href="/"><img class="img_codingnepal" src="/img/logo-DH-blanco.png" alt="Logo Digital House"></a>
  </nav>

  <div class="body_codingnepal">

    <%- include('partials/slideBarMenu') %>


      <div class="form-wrapper_codingnepal">
        <h2>Agregar Película</h2>
        <form action="/movies/create" method="POST" class="form_codingnepal">
          <div class="form-control_codingnepal">
            <!-- title -->
            <input type="text" class="input_codingnepal <%= locals.errors && (errors.title && 'is-invalid') %>" id="title"
             name="title" value="<%= locals.old && (old.title && old.title ) %>"  required>
            <label>Título de la película</label>
            <small class="text-danger ms-2">
              <%= locals.errors && (errors.title && errors.title.msg) %>
            </small>
          </div>
          <div class="form-control_codingnepal">
            <!-- rating -->
            <input class="input_codingnepal<%= locals.errors && (errors.rating && 'is-invalid') %>" type="number"
            name="rating" id="rating" value="<%= locals.old && (old.rating && old.rating ) %>" required>
            <label>Rating</label>
          </div>
          <div class="form-control_codingnepal">
            <!-- awards -->
            <input class="input_codingnepal<%= locals.errors && (errors.awards && 'is-invalid') %>" type="number"
            name="awards" id="awards" value="<%= locals.old && (old.awards && old.awards ) %>" required>
            <label>Premios</label>
          </div>
          <div class="form-control_codingnepal">
            <!-- release_date -->
            <input class="input_codingnepal<%= locals.errors && (errors.release_date && 'is-invalid') %>" type="date"
            name="release_date" id="release_date" value="<%= locals.old && (old.release_date && old.release_date ) %>">
            <label>Estreno</label>
          </div>
          <div class="form-control_codingnepal">
            <!-- length -->
            <input class="input_codingnepal<%= locals.errors && (errors.length && 'is-invalid') %>" type="number"
            name="length" id="" value="<%= locals.old && (old.length && old.length ) %>" required>
            <label>Duración</label>
          </div>
          
          <!-- btn Agregar -->
          <div class="button_codingnepal">
            <button class="glow-on-hover" type="submit">Agregar</button>
          </div>
          
        </form>
      </div>
  </div>
  

</body>
<!-- ---------------------------------- -->
<footer>

</footer>

</html>